<template>
        <div class="row text-center">
            <div class="col col-12">
                <h1>Selecciona un servicio</h1>
            </div>

            <swiper :options="swiperOption">
                <swiper-slide v-for="(item, index) in servicesList"
                       v-bind:data="item.name"
                       v-bind:key="item.id"
                    >
                    <div class="d-flex justify-content-center h-100" @click="showModal(index)" v-if="showModal" :service="servicesList[currentService]">
                        <div class="service align-self-center align-bottom d-table">
                            <div class="description d-table-cell align-bottom">
                                <div class="text">
                                    {{item.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </swiper-slide>

                <div class="swiper-button-prev" slot="button-prev"></div>
                <div class="swiper-button-next" slot="button-next"></div>
            </swiper>

            <modal
                    v-show="isModalVisible"
                    @close="closeModal"
            />
        </div>
</template>

<script>

    import axios from 'axios';
    import modal from './../components/ServiceModalComponent.vue';
    import { EventBus } from './../../event-bus.js';

    export default {
        components: {
          modal
        },
        data(){
            return{
                servicesList : [],
                currentService: 1,
                errors: [],
                swiperOption: {
                    slidesPerView: 2,
                    slidesPerColumn: 3,
                    spaceBetween: 30,
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    }
                },
                isModalVisible: false
            }
        },
        created() {
            axios.get('/services')
                .then(response => {
                    this.servicesList = response.data;
                });

        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            close: function () {
                this.$emit('close');
            },
            showModal(serviceIndex) {
                EventBus.$emit('showService', this.servicesList[serviceIndex]);
                this.isModalVisible = true;
            },
            closeModal() {
                this.isModalVisible = false;
            }
        }
    }
</script>

<style scoped>
    .swiper-container {
        height: auto!important;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        height: 240px;
    }
</style>