<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" href="assets/css/app.css" rel="stylesheet">
    <title>Mayordomo</title>
</head>
<body>
    <div id="app">
        <header class="fixed-top">
            <div class="d-table w-100 h-100 text-center">
                <div class="d-table-cell align-middle">
                    <div class="container">
                        {{ header }}
                    </div>
                </div>
            </div>
        </header>

        <section id="services">
            <div class="container">
                <services-list></services-list>
            </div>
        </section>

        <footer class="fixed-bottom">
            <div class="container">

            </div>
        </footer>
    </div>
</body>
<script src="assets/js/app.js" type="application/javascript"></script>
</html>