@import '~bootstrap/scss/bootstrap';
@import "variables";
@import "functions";

html,body {
  background: mayordomo-colors('primary');
  color: mayordomo-colors('text');
  height: 100%;
}
header, footer {
  background: mayordomo-colors('secondary');
}

header{
    height: $header-size;
}

h1{
  font-size: $h1-font-size;
}

footer {
  height: $footer-size;
}

#services {
  padding-top: $header-size;
  padding-bottom: $footer-size;
  cursor: pointer;

  .service{
    background: url('/./../assets/images/foto.jpeg') mayordomo-colors('secondary') no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid mayordomo-colors('primary');
    box-shadow: 0 0 0 5px mayordomo-colors('secondary');
    overflow: hidden;
    .description{
      height:60px;
      .text{
        background: mayordomo-colors('primary');
        min-height:60px;
        padding: 5px 20px;
      }
    }
  }

  .swiper-button-next{
    width: 0;
    height: 0;
    background: none;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid mayordomo-colors('secondary');

  }

  .swiper-button-prev{
    width: 0;
    height: 0;
    background: none;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid mayordomo-colors('secondary');

  }

  .modal{
    margin:20px auto;
    width:80%;
  }
}

